language: php

sudo: false

matrix:
    include:
        - php: 7.0
          env: COMPOSER_FLAGS='--prefer-lowest --prefer-stable'

before_install: composer self-update

install:
    - composer update $COMPOSER_FLAGS --prefer-dist --no-interaction

before_script:
    - phpenv config-rm xdebug.ini

script:
    - make tests
