language: php

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6

env:
    matrix:
        - PREFER_LOWEST="--prefer-lowest"
        - PREFER_LOWEST=""

before_install:
    - composer self-update

install:
    - composer update --prefer-dist $PREFER_LOWEST

script:
    - ./vendor/bin/phpspec run
